{{ partial "top.html" . }}

<h1>{{ .Title }}</h1>

{{ partial "breadcrumbs.html" . }}

{{ .Content }}

<ul>
{{ range $.Site.Data.changelog }}
    {{ range . }}
        <li>
            {{ dateFormat "2006-01-02" .created_at }}: <a href="{{ $.Site.Params.giteditpath }}/commit/{{ .id }}"><strong>{{ trim .message "\n" }}</strong></a> ({{ .author_name}})
        </li>
    {{ end }}
{{ end }}
</ul>

See <a href="{{ $.Site.Params.giteditpath }}/commits/main">{{ $.Site.Params.giteditpath }}/commits/main</a> for the complete list.