{{ partial "top.html" . }}

<div class="vevent" id="hcalendar-event-title">

    <a class="url" href="{{ .Permalink }}" style="text-decoration: none; color: #839496;"><h1 class="summary">{{ .Title }}</h1></a>

    {{ partial "breadcrumbs.html" . }}

<h4 class="datetime">
    <div>{{ .Params.eventtype }}</div>
    <div>{{ if isset .Params "startdate"}}<time datetime="{{ .Params.startdate | dateFormat "2006-01-02"}}" class="dtstart">{{ .Params.startdate | dateFormat "Monday 2 January 2006"}}</time>{{ end }}{{ if isset .Params "starttime"}}, {{ .Params.starttime }}{{ end }}{{ if or (isset .Params "enddate") (isset .Params "endtime")}} {{ end }}{{ if and (isset .Params "enddate") (ne .Params.startdate .Params.enddate)}} / till <time datetime="{{ .Params.enddate | dateFormat "2006-01-02"}}" class="dtend">{{ .Params.enddate | dateFormat "Monday 2 January 2006"}}</time>{{ end }}{{ if isset .Params "endtime"}} {{ .Params.endtime }}{{ end }}</div>
    {{ if isset .Params "location"}}<div>@ <span class="location">{{if eq .Params.location "HSBXL" }}<a href="/contact">HSBXL</a>{{ else }}{{ .Params.location }}{{ end }}</span></div>{{ end }}
</h4>


{{ with .Params.price }}<h5 class="price">Price: {{ . }}</h5>{{ end }}
<br />

{{ if isset .Params "series"}}
    {{ $series := .Params.series }}
    {{ range where .Site.Pages "Params.series" $series }}
        {{ if eq .Params.start "true"}}
            <div style="font-size: 90%">This event is part of series '<strong><a href="{{ .Permalink }}">{{ $series }}</a></strong>'</div>
        {{ end }}
    {{ end }}
{{ end }}


    <div><a href="/events/index.ics" style="font-size: 90%">Add all HSBXL events to your calendar</a></div>

{{ partial "toc.html" . }}

<article>
    {{ if isset .Params "image"}}
    <img class="content_image" src="/images/{{ .Params.image }}">
    {{ end }}

    {{ if strings.HasPrefix .File.Path "events/techtuesday/" }}
    <h1>TechTue Etherpad</h1>
    Pad: <a href="https://etherpad.openstack.org/p/TechTueHSBXL">https://etherpad.openstack.org/p/TechTueHSBXL</a>
    {{ end }}

    <div class="description">{{ .Content }}</div>
</article>

</div>

{{ partial "bottom.html" . }}
